
# HTTPS server
#
server {
  listen 443 ssl;
  server_name {{ domain_name }};

  ssl on;
  ssl_certificate         /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;

  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;
  ssl_stapling on;
  ssl_stapling_verify on;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

  ssl_dhparam /etc/nginx/dhparams.pem;
  ssl_prefer_server_ciphers on;

  root {{root_dir}}/;
  index index.php index.html;

  access_log  {{root_dir}}/logs/nginx.access.log;
  error_log  {{root_dir}}/logs/nginx.error.log;
  # config 

  location / {
      try_files $uri $uri/ $uri.php?$args;
  }

  location /l/ {
      rewrite ^/l/([a-zA-Z0-9/]+)$ /l.php?i=$1 last;
  }
  location /t/ {
      rewrite ^/t/([a-zA-Z0-9/]+)$ /t.php?i=$1 last;
  }
  location /w/ {
      rewrite ^/w/([a-zA-Z0-9/]+)$ /w.php?i=$1 last;
  }
  location /unsubscribe/ {
      rewrite ^/unsubscribe/(.*)$ /unsubscribe.php?i=$1 last;
  }
  location /subscribe/ {
      rewrite ^/subscribe/(.*)$ /subscribe.php?i=$1 last;
  }

  location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|xml)$ {
      access_log off;
      log_not_found off;
      expires 30d;
  }

  # Don't allow search engines to index any
  add_header X-Robots-Tag "noindex, noarchive";
  
  # pass the PHP scripts to FastCGI server listening on the php-fpm socket
  location ~ \.php$ {
    try_files $uri /index.php =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php56-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

}